$fondoClaro: #fef5e7;
$fondoOscuro: #38512f;
$fondoLogoFooter:#4f7442;
$Color1: #38512f;
$Color2: #fef5e7;
$Color3: #3a3630;
$Color4: #7e8375;
$Color5: chocolate;
$fuenteTextos: 'Pridi', serif;
$fuenteTitulos: 'Exo 2', sans-serif;

main{
    h1{
        text-align: center;
        padding: 20px;
        font-family: $fuenteTitulos;
        color: $Color1;
        font-size: 2.4rem;
        font-weight: 800;
    }
    .contacto_contenedor{
        .formulario{
            h2{
                color: $Color1;
                font-weight: 500;
                font-size: 2rem;
            }
            .for{
                padding: 10px;
                color: $Color3;
                font-weight: 300;
                font-size: 1.3rem;
                .form-check-input{
                    background-color: $Color4;
                }
            }
            
        }

        .mapa{
            .contacto_iconos{
                ul{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    li{
                        padding: 30px 20px;
                        list-style: none;
                        color: $Color3;
                        font-family: $fuenteTextos;
                        font-weight: 300;
                        font-size: 1.5rem;
                        .icon{
                            font-size: 2rem;
                            padding-right: 10px;
                            color: $Color1;
                        }
                    }
                }
            }
        }
    }
}