$fondoClaro: #fef5e7;
$fondoOscuro: #38512f;
$fondoLogoFooter:#4f7442;
$Color1: #38512f;
$Color2: #fef5e7;
$Color3: #3a3630;
$Color4: #7e8375;
$Color5: chocolate;
$fuenteTextos: 'Pridi', serif;
$fuenteTitulos: 'Exo 2', sans-serif;


main{
    .section1{
        .texto_inicio{
            text-align: center;
            vertical-align: middle;
            padding: 40px;
            h1{
                font-family: $fuenteTitulos;
                font-weight: 800;
                color: $Color1;
                font-size: 2.4rem;
            }
            p{
                font-weight: 300;
                color: $Color3;
                font-size: 1.4rem;
            }
            
        }
        .imagen_inicio{
            align-items: center;
            padding-top: 40px;
        }
    }
}