$fondoClaro: #fef5e7;
$fondoOscuro: #38512f;
$fondoLogoFooter:#4f7442;
$Color1: #38512f;
$Color2: #fef5e7;
$Color3: #3a3630;
$Color4: #7e8375;
$Color5: chocolate;
$fuenteTextos: Arial, Helvetica, sans-serif;




main{
    .servicios_contenedor{
        text-align: center;
        padding: 20px;

        h1{
            padding: 15px;
        }
        
        .servicio_1{
            .terapia_1{
                h2{
                    padding: 10px;
                }
            }
        }
    }
}