@import "variables";


main{
    .conocenos{
        h1{
            text-align: center;
            padding: 20px;
            font-family: $fuenteTitulos;
            color: $Color1;
            font-size: 2.4rem;
            font-weight: 800;
        }
        .nosotros{
            h2{
                padding: 30px;
                color: $Color1;
                font-weight: 500;
                font-size: 2rem;
            }
            p{
                font-weight: 300;
                color: $Color3;
                font-size: 1.3rem;
            }
        }
    }
}