$fondoClaro: #fef5e7;
$fondoOscuro: #38512f;
$fondoLogoFooter:#4f7442;
$Color1: #38512f;
$Color2: #fef5e7;
$Color3: #3a3630;
$Color4: #7e8375;
$Color5: chocolate;
$fuenteTextos: 'Pridi', serif;
$fuenteTitulos: 'Lekton', sans-serif;
$fuenteH1: 'Exo 2', sans-serif;